@import url(./global.css);

.section-diferenciais{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color-primary-orange-10);
    padding: 60px 0;
    align-items: center;
}

.section-diferenciais h2{
    color: var(--color-black);
    font-size: var(--font-size-h2);
    font-family: var(--font-familly-david-libre);
}

.section-diferenciais span{
    color: var(--color-primary-orange);
}

.container-cards-diferenciais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.content-cards-diferenciais{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 1px solid var(--color-secundary-L_gray);
    border-radius: 10px;
    text-align: center;
    height: 260px;
    width: 257px;
    
}

.content-cards-diferenciais h3{
    color: var(--color-secundary-dark);
    font-size: var(--font-size-h3);
    font-family: var(--font-familly-david-libre);
    width: 181px;
}

.content-cards-diferenciais p{
    color: #676767;
    font-size: var(--font-size-body);
    font-family: var(--font-familly-inter);
    width: 217px;
    line-height: 150%;
}